@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/71/9b/e8/719be89efa6a548253b4d3c7e9bfa6b1.jpg") no-repeat center center fixed;
  background-size: cover;
 
}


.error {
  font-family: lato;
  font-style:italic;
  font-size: 20pt;
  display: inline-flex;
  flex-flow: wrap row;
  justify-content: space-around;
  margin-top: 20px;
  height: 500px;
  width: 600px;
  margin-left: 700px;
  color:white;
 background-color: grey;
opacity: 0.6;
  padding:10px;
  border-radius: 20px ;
}

footer{
font-size:11pt;
  color:white;
}