<!DOCTYPE html>
<html lang="ne">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" media="all" href="css/fonts.css">
    <link rel="stylesheet" media="all" href="css/typography.css">
    <link rel="stylesheet" media="all" href="css/main.css">
</head>
<body>
    <div>
        <div>
    <img id="heading" src="_img/heading4.png" alt="heading" width="960px" height="200px">
    <ul>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="portfolio.html">portfolio</a></li>
  <li><a href="index.html">Home</a></li>
</ul>
 </div>
   <div class="achtergrondknoppen">
            <p><a href="belfestival.html" class="button button--default">België</a>
               <a href="nedfestival.html" class="button button--primary">Nederland</a>
               <a href="eldersfestival.html" class="button button--danger">Elders</a></p>
               </div>

    <h1>Festivals in België</h1>
    <!-- Emmet: ul>li*7 -->
    
    <div class="festival">
                <a href="festival-1.html"><img src="_img/Rock-Werchter.jpg" alt="Rock Werchter" width="200px" height="136px"> </a>
                <div class="titel">Rock Werchter</div>
                </div>
<div class="festival">
                <a href="Dranouter.html"><img src="_img/Dranouter.jpg" alt="Dranouter" width="200px" height="136px"></a>
                <div class="titel">Dranouter</div>
                </div>

<div class="festival">
                <a href="Pukkelpop.html"><img src="_img/pukkelpop2.jpg" alt="Pukkelpop" width="200px" height="136px"></a>
                <div class="titel">Pukkelpop</div>
                </div>

<div class="festival">
                <a href="Suikerrock.html" ><img src="_img/Suikerrock.jpg" alt="Suikerrock" width="200px" height="136px"></a>
                <div class="titel">Suikerrock</div></div>

<div class="festival">
                <a href="Laundryday.html" ><img src="_img/Laundryday.jpeg" alt="Laundryday" width="200px" height="136px"></a>
                <div class="titel">Laundryday</div></div>

<div class="festival">
                <a href="Regeageel.html"><img src="_img/Regeageel.jpg" alt="Regeageel" width="200px" height="136px"></a>
                <div class="titel">Regeageel</div></div>

<div class="festival">
                <a href="Tomorrowland.html" ><img src="_img/Tomorrowland.jpg" alt="Tomorrowland" width="200px" height="136px"></a>
                <div class="titel">Tomorrowland</div></div>

<div class="festival">
                <a href="Dour.html"><img src="_img/Dour.jpeg" alt="Dour" width="200px" height="136px"></a>
                <div class="titel">Dour</div></div>
           </div> 
</body>
</html>